dot-node-red/flows.json
[{"id":"991b8447.a31278","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3a0c6af2.e773ae","type":"http in","z":"991b8447.a31278","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":320,"y":140,"wires":[["745d2d48.b1a3cc"]]},{"id":"745d2d48.b1a3cc","type":"template","z":"991b8447.a31278","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":480,"y":160,"wires":[["aad7206c.e54b2"]]},{"id":"aad7206c.e54b2","type":"http response","z":"991b8447.a31278","name":"","statusCode":"","headers":{},"x":640,"y":220,"wires":[]}]